@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,800);

/* Some items may be vestigial and unnecessary, if you remove them, please specify in the commit message */

body {
	font: 13px/2em "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}

h2 {
	font-size: 125%;
}

a {
	text-decoration: none;
	color: #40C0CB;
}

a:hover {
	color: #00A8C6;
}

header h1 {
	font-size: 1.5em;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	/* align entire nav to right */
	/* text-align: right; */
}

nav ul li {
	display: inline-block;
}

nav ul:before, nav ul:after, nav ul li:after {
	color: #aaa;
}

nav ul li:first-child a {
	padding-left: 0px;
}

nav ul li:after {
	content: "/";
}

nav ul li:last-child:after {
	content: "";
}

nav ul li a {
	padding: 5px 7px;
}

.wrapper {
	font-size: 115%;
	max-width: 620px;
	line-height: 1.5em;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

ul.posts {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-bottom: 1em;
}

ul.posts li {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 2em;
}

.posts li span {
	margin-right: 1em;
	font-size: 80%;
	color: rgb(125,125,125);
}

blockquote {
	padding: 0px 20px;
	margin: 15px 0;
	border-left: 3px solid #ddd;
}

blockquote p {
	color: #3a3a3a;
}

blockquote cite:before {
	content: "— ";
}

blockquote.right cite:before {
	content: "";
}

blockquote.right cite:after {
	content: " —";
}

blockquote cite {
	font-style: normal;
	color: rgb(150,150,150);
}

blockquote.right cite, blockquote.right footer {
	text-align: right;
}

blockquote footer {
	display: block;
}

article {
	overflow: auto;
	word-wrap: break-word;
}

article img, article figure img {
	display: block;
	margin: 5px auto;
	max-width: 100%;
	vertical-align: middle;
	border-radius: 3px;
}

figure figcaption {
	font-size: 85%;
	padding-right: 10px;
	padding-left: 10px;
}

figure {
	margin: 0px;
	padding-bottom: 5px;
	border-radius: 3px;
	background-color: #eee;
}

footer .date, footer .back {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

footer .date {
	float: right;
	color: #aaa;
}

pre {
	display: block;
	font-size: 80%;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f2f2f2;
	padding: 0.5em 1em;
}

code {
	font-size: 80%;
	padding: 0.25em 0.5em;
	border-radius: 3px;
	background-color: #f2f2f2;
}

pre code {
	padding: 0px;
	font-size: 100%;
	background-color: transparent;
}
