<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="{{ site.description }}">
	<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}/feed.xml" />
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">
	<link rel="icon" href="{{ "/assets/favicon.png" | prepend: site.baseurl }}" type="image/png">
	<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	<script>
		$.getJSON("//wevidyanow.com/quote.php", function(json) {
			console.log(json.id);
			var quoteid = document.getElementById("quote");
			author = "<a href='http://wevidyanow.com:7000/view/user/" + json.author + "'>" + json.author + "</a>";
			quote = "<a href='http://wevidyanow.com:7000/view/id/" + json.id + "'>" + json.quote + "</a>";
			quoteid.innerHTML = "<p>" + quote + "<cite> by " + author + "</cite></p>";
				});
	</script>
</head>
